@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

body
{
    background: linear-gradient(40deg, rgb(3 228 166 / 60%), rgb(231 158 240 / 70%), rgb(27 222 141 / 34%));
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 100vh;
    overflow: auto;
   
}

.section-content{
    max-width: 100%;
    max-height: 100vh;
    overflow: auto;
}


.block-Quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    padding: 30px;
    
    height: auto;
    max-width: 80%;
    width: 580px;
    
    text-align: center;
    background:#f0f0f3b8;
    border-radius: 30px;
}
audio {
    max-width: 100%;
    margin-bottom: 20px;
}

.change-btn 
{
    max-width: 100%;
    color:#fff;
    font-size: 16px;
    font-weight: 500;

    padding: 15px 36px;
    border: none;
    outline: none;
    border-radius: 30px;
    background:coral;
    box-shadow: -10px -10px 14px #ffffffe8, 10px 10px 14px rgb(167, 167, 167), inset -2px -5px 5px rgb(208, 98, 59);

    cursor: pointer;
    transition: 0.04s;
    animation: changeBg 1.3s linear infinite;
}

@keyframes changeBg 
{
    to
    {
        filter: hue-rotate(360deg);
    }
}

.change-btn:hover
{
    transform: scaleX(0.99);
}

.change-btn:active
{
    transform: scale(0.96);
}

.helo
{ 
    color: #fff;
    margin: 40px auto 10px;
    width: 23ch;
    animation: typing 2s steps(23);
    white-space: nowrap;
    overflow:hidden;
}

@keyframes typing 
{
    from
    {
        width: 0;
    }
}

#img{
    margin: 20px auto 30px;

    max-width: 100%;
    width: auto;
    height: 200px;
    max-height: 75%;

    border-radius: 20px;
    box-shadow: -4px -4px 0 #b2ff73, 4px 4px 0px rgba(2, 255, 175, 0.857);
    filter: saturate(1.5);
    display: none;
}

#img:hover
{
    transform: scale(1.4);
    transition: 0.5s ease-out;
}

.content
{
    font-size: 18px;
    font-weight: 400;
    color: rgb(14, 132, 104);
    text-shadow: 1px 2px 0px #68f3d279;
}
/* --Responsive-- */
@media screen and  (max-width: 400px) 
{
    .block-Quote{
        margin-top: 20px;
        display: block;
        overflow: scroll;

    }
    .change-btn
    {
        font-size: 12px;
        word-wrap: break-word;
        padding: 10px;
    }
    #img{
        height: auto;
    }

}

@media screen and  (max-width: 768px) and (min-width:399px)
{
    #img{
        height: 250px;
    }
}
@media screen and  (min-width: 769px) {
    #img{
        height: 320px;
    }
}
